input,textarea{
    outline: none;
}
/*.overlay-wrapper1{*/
    /*position:fixed;*/
    /*width:100%;*/
    /*height:100%;*/
    /*z-index:9999;*/
    /*background: rgba(255,255,255,0.7);*/
    /*top:0;*/
    /*left:0;*/
/*}*/
/*.overlay-wrapper1 .overlay{*/
    /*margin-top: 25%;*/
    /*margin-left: 50%;*/
/*}*/
/*.overlay-wrapper1 .overlay .fa{*/
    /*font-size: 22px;*/
/*}*/
.titYilong{
    font-size: 16px;
    color: #fff;
}

.compy {
    position: absolute;
    left: 47px;
    top: 5px;
}

.main-header {
    background-color:#2DCA93
}

.main-header .sidebar-toggle {
    padding: 20px 15px;
}

.skin-purple .sidebar-menu > li:hover > a, .skin-purple .sidebar-menu > li.active > a{
    border-left-color:#FFF
}

.skin-purple .main-header .navbar .sidebar-toggle:hover{
    background-color:rgba(0, 0, 0, 0.1)!important;
}

.skin-purple .main-header .logo:hover{
    background-color:rgba(0, 0, 0, 0.1)!important;
}

.navbar-nav > li > a{
    padding-top:20px;
    padding-bottom: 20px;
}
.breadcrumb{
    float: left;
    left: 13px;
    margin-bottom:0px;
    padding:0px 15px 11px;
    background:none;
}
.breadcrumb>li>a{
    color:#777
}
.breadcrumb >.active{
    color:#00a65a
}
.myCursor{
    cursor:pointer;
}

.box.box-solid{
    margin-bottom:0px;
}
.nav-stacked>li>a{
    padding: 5px 15px;
}
.no-padding-right{
    padding-right:0;
}
.box-table{
    border-top:0;
}
.mytable{
    overflow-y: scroll;
}
.mysearch{
    margin-top: 7px;
    margin-bottom: 0px;
}
.mysearch .control-label{
    padding-left:0;
    text-align: right;
    margin-top: 5px;
}
.mysearch .input-group-sm{
    padding:0;
}
.mytableTop{
    width: 99%;
    margin-bottom: 9px;
}
.fa{
    cursor:pointer;
}
.fa.faDisabled{
    cursor:default;
    color:#ccc;
}
.fa.faDisabled:hover{
    cursor:default;
    color:#ccc;
}
.fa:hover{
    color:#4B9970;
}
.mytable table th,.mytable table td{
    max-width: 250px;
    white-space:nowrap;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
    overflow: hidden;
}
 .mytablemin table th,.mytablemin table td{
     max-width: 115px;
     white-space:nowrap;
     text-overflow:ellipsis;
     -o-text-overflow:ellipsis;
     overflow: hidden;
 }
.dingzhitable{
    overflow-x:scroll;
}
.dingzhitable table{
    table-layout: fixed;
}
.dingzhitable table th,.dingzhitable table td{
    max-width: 115px;
    word-break: break-all;
    word-wrap:break-word;
}
.fa.myfabut{
    margin-right:2px;
}
.nav-tabs-custom{
    margin-bottom:0;
    box-shadow: none;
}
.mybox{
    border:1px solid #d2d6de;
}
.mybox table th,.mybox table td{
    max-width:200px;
}
.mybox .input-group-sm > .form-control{
    height:25px;
}
.form-horizontal .mybox .radio{
    padding-top:2px;
}
.form-horizontal .myformgroup{
    margin:0;
}
select,input[type="file"] {
    height: 25px;
    *margin-top: 4px;
    line-height: 25px
}

select {
    width: 100px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.mytablemin select{
    font-size: 11px;
    font-weight: 400;
}
.myoprfa .fa,.myoprfafenqu .fa,.myoprku .fa,.zifenpianfa .fa,.zhibiaofa .fa{
    width:100%;
    height:25px;
}
.myselect{
    width:200px;
    height:30px;
    line-height:30px;
}
.myselect100{
    width:100%;
    height:30px;
    line-height:30px;
}
.sqlYulan{
    width: 100%;
    height: 340px;
    border: 1px solid #ccc;
}
.miaoshu{
    width: 100%;
    height: 140px;
    border: 1px solid #ccc;
}
.maxHeight{
    max-height: 350px;
}
.mycustomnav{
    border: 1px solid #ccc;
}
.nav-tabs-custom>.nav-tabs>li.active a{
    color:#2DCA93;
}
.dbMoreNames .btn{

}
.quickSearchIcon{
    position: absolute;
    padding: 7px 10px;
    right: 15px;
    cursor: pointer;
}
.fenpianbox .table th{
    text-indent: 79px;
}
.fenpianbox .box-body{
    padding:0;
}
.skin-purple .treeview-menu li a.lastMenu{
    padding-left: 32px;
    color: #657D88;
}
.skin-purple .treeview-menu li a.parentMenu{
     cursor: default;
}
 .skin-purple .treeview-menu li a.parentMenu:hover{
     color:#8aa4af;
 }
.sidebar-menu .treeview-menu>li>a>.fa{
    cursor: default;
}
.skin-purple .treeview-menu li a.lastMenu:hover{
    color: #fff;
}
.operBox .box-header,.oprshowBox .box-header{
    text-align: center;
}
.operBox .table tbody tr{
    cursor: pointer;
}
.operBox .table tbody tr:hover{
    background-color: #8F69DD;
    color: #fff;
}
.operBox .table > tbody > tr.active > td{
    background-color: #8F69DD;
    color: #fff
}
.operBox .table tbody tr.active{
    background-color: #8F69DD;
    color: #fff;
}
.myuserUl li a:hover{
    background-color: #8F69DD;
    color: #fff;
}
.myuserUl li a.active{
    background-color: #8F69DD;
    color: #fff;
}
.myuserUl{
    height: 370px;
    overflow-y: scroll;
}
.myButton{
    width: 43px;
    float: right;
    padding: 1px 2px;
    margin-left: 11px;
}
.myopeDiv{
    width:50px;
}
.userDiv{
    height: 30px;
    line-height: 30px;
    width: 100%;
    border: 1px solid #d2d6de;
    border-radius: 3px;
}
#calloutInfo{
    position: fixed;
    top: 10px;
    z-index: 9999;
    left: 240px;
    width: 60%;
    display: none;
}
.table-bordered>thead>tr.searchTh{
    border-top:0;
}
.searchTh input{
    width:100%;
    border-radius: 3px;
    border:1px solid #ccc;
}

.searchTh input:hover{
    border:1px solid #2DCA93;
}
.errorMessage{
    color:#FF0000;
    display: none;
}
.mybox .input-group-sm > .form-control.jingduinput{
    width: 40%;
    float: left;
}
.mybox .input-group-sm > .form-control.dongtaiTime{
    width: 40%;
    float: left;
}
.selectUsers .btn-app{
    height: 30px;
    line-height: 30px;
    padding: 0;
}
.fenquOperate{
    display: none;
}
.myheight{
    min-height: 600px;
}
.mytree{
    background-color:#fff;
    overflow-x: auto;
}
.sqlTextarea{
    height:500px;
    width:100%;
    border:1px solid #ccc;
}
.sqlListTextarea{
    height:24px;
    width:90%;
    border:none;
    overflow: hidden;
    background: inherit;
    resize:none;
}
.sqlListTextarea.active{
    overflow-y:scroll;
    height:400px;
}
.descTextarea{
    height:100px;
    width:100%;
    border:1px solid #ccc;
}

.node {
    stroke-width: 1.5px;
    cursor:pointer;
}
.link {
    stroke: #0B0A0A;
}
.node text {
    pointer-events: none;
    font: 10px sans-serif;
}
svg{
}
.butDisabled{
    background-color: #ccc;
    border: 1px solid #ccc;
    cursor: default;
}
.butDisabled:visited{
    background-color: #ccc !important;
    border: 1px solid #ccc !important;
    cursor: default;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.butDisabled:focus{
    background-color: #ccc !important;
    border: 1px solid #ccc !important;
    cursor: default;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.butDisabled:hover{
    background-color: #ccc !important;
    border: 1px solid #ccc !important;
    cursor: default;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.butDisabled:active{
    background-color: #ccc !important;
    border: 1px solid #ccc !important;
    cursor: default;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.ztree li a.scriptId{
    color:#bbabab;
}

/*样式修改*/
.content-wrapper{
    /* margin-left: 182px; */
}
.main-sidebar{
    width: 182px;
}

.main-sidebar, .left-side{
    padding-top: 60px;
}
.skin-purple .main-header .logo{
    width: 182px;
    background-color: #2DCA93;
    border-right: 1px solid #ccc;
    display: inline-block;
    line-height: 60px;
    height: 60px;
    font-size: 36px;
    font-weight: 800;
    color: #ffffff;
    font-family: fantasy;
}

.skin-purple .main-header .navbar{
    background-color: #2DCA93;
}
.main-header>.navbar{
    margin-left: 182px;
}
.skin-purple .treeview-menu li a{
    color:#ffffff !important;
}
.skin-purple .treeview-menu li:hover{
    background-color: #676C67;
}
.sidebar-menu .treeview-menu>li>a{
    font-size: 13px;
}
tbody tr:nth-child(2n)
{
    background:#F7F6F6;
}
.jingdongDiv{
    display: none;
}
.isPartitionClass{
    color: #2DCA93;
}
.partitionTip{
    display: inline-block;
    margin-left: 40px;
    color: #2DCA93;
    position: relative;
}
.partitionTip i{
    display: inline-block;
    width: 16px;
    height: 16px;
    background: #2DCA93;
    border-radius: 50%;
    position: absolute;
    left: -29px;
}
.tables{
    margin: 10px 13px;
    border: 1px solid #ccc;
    min-height: 714px;
    max-height: 714px;
    overflow-y: scroll;
}
.tables .box-default{
    border:none;
    margin-bottom:0;
}
.tables .fa-minus:before{
    content:"\f0ce";
}
.tables .fa-plus:before{
    content:"\f0ce";
}
.tables .box-header{
    cursor:pointer;
}
.tables .box-header h3{
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 15px;
}
.tables .box-header h3:hover{
    color:#1a2226;
    text-decoration: underline;
}
.tables .box-body {
    cursor: pointer;
    color:#2DCA93;
}
.tables .box-body div:hover{
    color:#2DCA93;
    text-decoration: underline;
}
.exportbut{
    display: inline-block;
    background-color:#2DCA93;
    height:30px;
    line-height: 30px;
    color: #FFF;
    padding: 0px 20px;
    margin-right: 20px;
    border-radius: 4px;
    margin-top: 1px;
    cursor: pointer;
}
.exportbut:hover{
    background-color: #03AED8;
    color:#fff;
}
.skin-purple .mywrapper{
    background-color:#fff;
}
.box-header .box-title{
    font-size:13px;
}
.nav > li.odsgroups{
    display: none;
}
.searchMyBut{
    display: inline-block;
    width: 100px;
    padding: 4px 20px;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 4px;
}
.centerTable th,.centerTable td{
    text-align: center;
}
.dingzhitable .leixing{
    width:100%;
}

/*标签管理*/
.tagParent{
    height:200px;
    overflow-y: scroll;
    width:80%;
    border: 1px solid #ccc;
    border-left: 0;
}
.tagOuter{
    padding: 6px;
    width: 48%;
    float: left;
}
.tagOuter .tagInner{
    border: 1px solid #2DCA93;
    height: 32px;
    padding: 4px;
    line-height: 24px;
    background: #fff;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.tagOuter .tagInner .tagIcon{
    color: #2DCA93;
    font-size: 14px;
    margin: 0 2px;
    position: relative;
    top: 1px;
    float:left;
}
.tagOuter .tagInner .tagInput{
    width: 70%;
    height: 24px;
}
.tagOuter .tagInner .tabConent{
    margin-left: 10px;
}
.tagOuter .tagInner .tabDelete{
    position: absolute;
    height: 30px;
    width: 30px;
    right: 0;
    top: 0;
    line-height: 30px;
    text-align: center;
    border-left: 1px solid #2DCA93;
    color: #2DCA93;
    font-size: 14px;
    display:block;
    cursor: pointer;
}
.tagOuter .tagInner .tabModify{
    position: absolute;
    height: 30px;
    width: 30px;
    right: 30px;
    top: 0;
    line-height: 30px;
    text-align: center;
    border-left: 1px solid #2DCA93;
    color: #2DCA93;
    font-size: 14px;
    display:block;
    cursor: pointer;
}
.titleInput{
    width: 90%;
    height: 30px;
    position: absolute;
    top: 40%;
    margin-left: 5%;
}
.tagTitle{
    font-size: 20px;
    display: inline-block;
    height: 200px;
    line-height: 200px;
    width: 20%;
    position:relative;
}
.tagInfoBox{
    box-shadow: none;
    overflow: hidden;


}
.titleButs{
    width: 100%;
    position: absolute;
    color: #fff;
    top: 0;
    right: 0;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    text-align: right;
    padding-right: 12px;
}
.tagTitle .titleSpan{
    line-height: 20px;
    height: 40px;
    display: inline-block;
    margin-top: 76px;
}
.titleButs .fa:hover{
    color:#fff;
}
.addSecondTag{
    width: 32px;
    height: 32px;
    border: 1px solid #2DCA93;
    line-height: 32px;
    text-align: center;
    color: #2DCA93;
    border-radius: 50%;
}
.addFirstTag{
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -16px;
    color: #fff;
    border: 1px solid #fff;
}
.addFirstTag .fa:hover{
    color:#fff;
}
.operButs{
}
.selectTags .tagTitle{
    background-color: #fff !important;
    border: 1px solid #ccc;

}
.selectTags .tagTitle .titleSpan{
    color: #333;
}
.selectTags .tagOuter{
    cursor:pointer;
}
.selectTags .tagOuter.noselect .tagInner .tagIcon{
    color: #ccc;
}
.selectTags .tagOuter.noselect .tagInner{
    border: 1px solid #ccc;
}
.selectTags .tagOuter .tagInner .fa-check{
    position: absolute;
    height: 30px;
    width: 30px;
    right: 0;
    top: 0;
    line-height: 30px;
    text-align: center;
    border-left: 1px solid#2DCA93;
    color: #2DCA93;
    font-size: 14px;
    display: block;
    cursor: pointer;
}
.selectTags .tagOuter.noselect .tagInner .fa-check{
    display:none;
}
.selectTags .titleButs .faall{
    color: #888;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.noselectContent{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.selectTags .titleButs .faall:hover{
    color: #2DCA93;
}
/*群组管理页面*/
.labelGroups{
    margin-bottom:0px;
}
.sperLine{
    width: 97%;
    height: 1px;
    border-top: 1px solid #f1f1f1;
    margin-left: 2.5%;
    margin-right: 0.5%;
}
.tagValues{
    height: 37px;
    position: relative;
    float: left;
    line-height: 22px;
    margin: 0 25px 0px 0;
    list-style: none;
    padding: 0px 46px 0px 0px;
    border-radius:4px;
    width:100%;
    overflow: hidden;

}
.tagValues.jielue{
    height:auto;
}

.tagValues li{
    display: list-item;
    text-align: -webkit-match-parent;
    float: left;
    height: 22px;
    line-height: 22px;
    margin: 2px 10px 10px 0;
    width: 140px;
}
.tagValues li a{
    position: relative;
    color: #888888;
    display: inline-block;
    padding: 0 12px 0 12px;
    line-height: 26px;
    height: 26px;
    cursor: pointer;
    border: 1px solid #fff;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.tagValues li a:hover{
    color:#71B2C2;
}
.tagValues li.active a{
    /*border: 1px solid #B0A59F;*/
    border: 1px solid #2DCA93;
    color: #2DCA93;
}
.tagValues li a i{
    position: absolute;
    display: inline-block;
    background-position: 0 0;
    font-size: 12px;
    height: 19px;
    width: 19px;
    right: 3px;
    top: 7px;
    visibility: hidden;
}
.tagValues li.active a i{
    visibility:visible;
}
.more{
    cursor: pointer;
    border:1px solid #ccc;
}
.more{
    position: absolute;
    right: 21px;
    top: 4px;
}
.more a{
    color:#aaa;
    text-indent: 20px;
    width: 57px;
    display: inline-block;
    font-size: 12PX;
}
.more a i{
    position: absolute;
    left: -12px;
    top: 5px;
}
.tagGroupTit{
    width: 200px;
    position: absolute;
    top: 7px;
    left: 27px;
}

.luojiDiv{
    width: 169px;
    border: 1px solid #ccc;
    min-height: 236px;
    height: auto;
    overflow: hidden;
    color:#666666;
    font-size:12px;
}
.luojiDiv .tit{
    border-bottom: 1px solid #ccc;
    height: 36px;
    line-height: 33px;
    text-indent: 21px;
    color:#666666;
}
.luojiDiv .cont{
    padding:10px;
    height: 224px;
    overflow-y: scroll;
}
.luojiDiv .cont a{
    padding: 4px 5px 4px 5px;
    border: 1px solid #ccc;
    color: #888888;
    display: inline-block;
    position: relative;
    cursor: move;
    width: 130px;
    text-overflow: ellipsis;
    overflow: hidden;
}
.luojiDiv .cont a.active{
    border-color: #2DCA93;
    color: #2DCA93;
}
.luojiDiv .cont a i{
    position:absolute;
    top: 7px;
    right: 10px;
}
.luojiDiv .tagInput{
    display: block;
    margin-top: 10px;
    width: 50%;
}
.luojiLeft{
    float:left;
}
.luojiRight{
    float:right;
}
.tagLuoji .guanxi{
    width: 120px;
    float: left;
    padding: 116px 20px;
}
.opreFas .fa{
    display: block;
    width: 100%;
    margin-top: 23px;
}

/*标签映射*/
.tagTablesUl{
    padding:0;
}
.tagTablesUl li{
    display: list-item;
    text-align: -webkit-match-parent;
    list-style: none;
    padding: 2px 10px;
    color: #888;
    cursor:pointer;
    position: relative;
}
.tagTablesUl li .cont{
    width: 100px;
    display: inline-block;
    margin-left: 23px;
}
.tagTablesUl li.active{
    color: #2DCA93;
}
.tagTablesUl .fa{
    font-size: 18px;
    position: absolute;
    top: 4px;
}
.dingzhitable .myselect100{
    height:26px;
}
.rulesureAdd{
    cursor: pointer;
}
.elmTagA{
    border: 1px solid #ccc;
    padding: 5px;
    color: #696767;
    margin: 1px 10px;
    display: inline-block;
}
.guanxiLabel{
    color:#00a65a;
}
.valuesTd a:first-child{
    margin-left: 27px;
}

.drag{
    position:fixed;
    cursor: pointer;
    top: 0px;
    left: 0px;
    border: 1px solid #ccc;
    padding: 5px 10px;
    border-radius: 6px;
    background:#ffffff;
    z-index:999;
    display: none;
}
.checkboxTimes label{
    margin-right:10px;
    width:140px;
    line-height:21px;
}
.checkboxTimes input[type=radio]{
    width:10px;
}
.CodeMirror-gutter-elt{
    width:22px !important;
}
.tooltip-inner{
    max-width: 500px;
    width: 500px;
    text-align: left;
}
.tooltip.bottom{
    left:-244px !important;
}
#yulantable td{
    padding:5px;
}
#yulantable td .ylnum{
    width:150px;
    word-break: break-all;
}
.groupluoji{
    width:620px;
    overflow: visible;
}
.groupluoji .tit{
    text-indent: 0px;
    position:relative;
    height: 50px;
    line-height: 50px;
}
.groupluoji .tit select{
    width: 65px;
    float: left;
    margin-top: 8px;
    margin-left: 10px;
}
.deletegroup{
    float: right;
    cursor: pointer;
    margin-top: 16px;
    margin-right: 11px;
}
.groupNames{
    width:200px;
    position: relative;
    display: inline-block;
    margin-left:20px;
}
.groupNames input{
    border-radius:4px;
}
.groupNames .quickSearchIcon{
    right:0px;
}
.groupluoji .tit .addtolist{
    width:70px;
    display: inline-block;
    margin-left:20px;
    margin-top: -2px;
}
.addGroupInfo,.deleteNewGroup{
    display: none;
}
.groupNames .my_quick_search li{
    line-height:32px;
}
.luojiDiv .cont .groupA{
    position: relative;
    display: inline-block;
    padding: 0 12px 0 12px;
    line-height: 26px;
    height: 26px;
    width: 185px;
    overflow: hidden;
    cursor:default;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: 1px solid #2DCA93;
    color: #2DCA93;
}
.searchinputbut{
    width: 100px;
    height: 30px;
    border-radius: 0px 4px 4px 0px;
}
.synchronization{
     width: 100px;
    height: 30px;
    border-radius: 0px 4px 4px 0px;
}
.input-group-sm >  .searchbutinput{
    display: inline-block;
    float: left;
    width: 500px;
    border-radius: 4px 0px 0px 4px;
}


.searchContent{
    border:1px solid #ccc;
    overflow: hidden;
}
.searchTitOpe{
    height:40px;
    border-bottom: 1px solid #ccc;
    background-color:#f9f9f9;
}
.searchTitOpe a{
    float: right;
}
.searchTitOpe a.deleteAll{
     margin-top: 10px;
     margin-right: 10px;
     cursor: pointer;
}
.s_info{
    height:135px;
}
.s_info > span{
    white-space:nowrap;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
    overflow: hidden;
    margin-left:4%;
    margin-top: 8px;
}
.s_info > span.s_name{
    width:46%;
    display: inline-block;
    font-weight: 700;
    color: #000000;;
    cursor: pointer;
}
.s_info > span.s_name:hover{
    color: #222d32;
}
.s_info > span.s_time{
    width:45%;
    display: inline-block;
}
.s_info > span.s_xueyuan{
    width: 100px;
    display: inline-block;
    color: #00a65a;
    cursor: pointer;
}
.s_info > span.s_xueyuan:hover{
    color:green;
}
.s_info > span.s_desc{
    width:46%;
    display: inline-block;
}
.s_info > span.s_jishi{
     width:80%;
     display: block;
 }
.s_info > span.s_biaoqian{
    width:80%;
    display: block;
}
.s_info > span.s_biaoqian span{
    margin-left:5px;
}
.totalNumDiv{
    line-height: 30px;
    height: 30px;
    text-indent: 10px;
}
.totalNumDiv span{
    color:green;
    font-weight: 400;
}

.moreSelectDiv{
    text-align: center;
    line-height: 30px;
    height: 30px;
}
.moreSelectDiv a{
    cursor: pointer;
}
.more_5{
    height:0px;
    overflow: hidden;
}
#jsmind_container{
    float:left;
    width:100%;
    height:600px;
    border:solid 1px #ccc;
    background:#f4f4f4;
}
.jmnode{
    font: 12px/1.125 Verdana,Arial,Helvetica,sans-serif;
    border-radius:0;
}
.infoMessage{
    position: fixed;
    right: 58px;
    top: 76px;
    font-size: 14px;
    width: 250px;
}
#readme-contents{
    display: none;
}
.infoMessage span.line{
    display: block;
    line-height:28px;
}
.colors_tip{
    position: fixed;
    top: 80px;
    left: 228px;
}
.colors_tip span{
    display: inline-block;
    width:80px;
}
jmnode.root {
    font-size: 16px;
}
.spanBreak{
    word-break: break-all;
    display: inline-block;
}
.dbnameInfo{
    position: absolute;
    top: 91px;
    left: 40px;
    border: 1px solid #ccc;
    height: 30px;
    line-height: 30px;
    background: #fff;
    padding: 0px 15px;
    display:none;
}
.operation{
    position: absolute;
    top: 42px;
    left: 26px;
    z-index: 999;
    border: 1px solid #ccc;
    border-radius: 50%;
    width: 160px;
    height: 160px;
}
.operation i{
    position: absolute;
}

.dragtable{
    width: 100%;
    height: 32px;
    line-height: 32px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    color:#666666;
    text-align: left;
    text-indent: 5px;
}
.dragtable:hover{
    color:#ccc;
}

.connectList{
    list-style: none;
    height:50px;
}
.connectList li{
    width: 24%;
    float: left;
    text-align: center;
    line-height:50px;
    border: 1px solid #ccc;
    cursor:pointer;
}
.connectList li:hover{
    color:#000000;
    background-color:#eeeeee;
}
.connectList li.active{
    color:#000000;
    background-color:#eeeeee;
}
.connectList li img{
    width:50px;
    height:30px;
}

.addInputPath,.deleteInputPath{
    padding: 4px 7px;
    background-color:#fff;
}

.updataSelectUl{
    padding-left:0;
    border:1px solid #ccc;
}
.updataSelectUl li{
    list-style: none;
    height:30px;
    border-bottom:1px solid #ccc;
    line-height:30px;
    cursor:pointer;
    position:relative;
    text-indent: 9px;
}
.updataSelectUl li:hover{
    background:green;
    color:#fff !important;
}
.updataSelectUl li i{
    position: absolute;
    top: 8px;
    right: 5px;
    color:green;
}
.updataSelectUl li.noselect i{
    display:none;
}
.alertContent{
    border: 1px solid #ccc;
    margin: 10px 0px;
    padding: 10px 0px;
}
.alertNum{
    width: 50px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin: 0px 10px;
}
.addMoreConfig{
    cursor: pointer;
    margin-left: 10px;
    margin-bottom: 19px;
    display: block;
}
.margintop5{
    margin-top:5px;
}
.numInput{
    width: 80%;
    float: left;
}
.floatFont{
    margin-top:5px;
}
.noshowselect{
    display: none !important;
}
.checkBoxCenter{
    width:50px;
    text-align:center;
}
.overlay .tip{
    position: absolute;
    top: 50%;
    left: 50%;
    width:400px;
    text-align: center;
    display: block;
    margin-left: -200px;
    margin-top: 22px;
    color: #000000;
    font-size: 16px;
}