.nameModule{
    border-bottom:1px solid #ccc;
    border-radius: 0;
}
.nameModule span{
    width: 90%;
    display: inline-block;
    float: left;
    line-height:24px;
}

.nameModule input{
    width: 69%;
    display: inline-block;
    border-radius: 4px;
    border:1px solid #ccc;
}
.dimensionModule{
    border-bottom: 1px solid #ccc;
    overflow: hidden;
}
body{
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}
.reportTables{
    border: 0;
    height: 335px;
    overflow-y: scroll;
    width: 115%;
}
.reportTables .box{
    box-shadow: none;
    border: none;
    margin-bottom:0px;
}
.reportTables .box .box-body .fa{
    color:green;
}
.reportTables .box .box-header{
    padding:5px 1px;
}
.reportTables .box .box-body{
    padding:5px 3px;
    /*max-height:200px;*/
    /*overflow-y: scroll;*/
}
.reportTables .box .box-body div{
    cursor: pointer;
    position: relative;
    white-space:nowrap;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
    overflow: hidden;
}
.reportTables .box .box-body div:hover{
    background-color:burlywood;
}
.reportTables .box .box-header>.box-tools{
    top: 0px;
    right:11%;
}
.reportTables .unit{
    cursor: pointer;
    position: relative;
    white-space:nowrap;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
    overflow: hidden;
}
.reportTables .unit:hover{
    background-color: green;
    color: #fff;
}
.selectLie{
    margin-bottom:5px;
    min-height:50px;
    height:auto;
    border:1px solid #ccc;
}
.selectLie span{
    border: 1px solid #605ca8;
    padding: 2px 10px;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    margin: 5px 0px;
}
.selectLie .celOne{
    padding-left:15px;
    display:inline-block;
    margin-top:5px;
}
.selectLie span:hover{
    border-color:burlywood;
    color:#888888;
}
.selectLie .fa{
    color:#605ca8;
}
.temBiaoti{
    display: inline;
    height: 30px;
    width: 80%;
    border: none;
}
.shaixuan{
    border: 1px solid green;
    line-height: 28px;
    height: 28px;
    border-radius: 4px;
    margin-bottom: 6px;
    position:relative;
    white-space:nowrap;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
}
.shaixuan .fa{
    color:green;
}
.shaixuan:hover{
    border-color:burlywood;
}
.shaixuan .fa-sort-asc{
    margin-top: 3px;
    margin-right: 4px;
    cursor: pointer;
    height: 25px;
    position: absolute;
    right: 0;

}
.shaixuanFloat{
    border: 1px solid #ccc;
    width: 200px;
    background-color: #fff;
    z-index: 999;
    position: absolute;
}
.shaixuanFloat .shaixuanElms{
    list-style: none;
    margin:5px 8px 5px 8px;
    padding-left:0px;
}

.shaixuanFloat .shaixuanElms .sxDelete{
    display: inline-block;
    width: 100%;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: green;
    color: #fff;
    cursor: pointer;
}
.shaixuanFloat .shaixuanElms li{
    position:relative;
}
.shaixuanFloat .shaixuanElms li i{
    position: absolute;
    right: 0;
    top: 6px;
}
.shaixuanFloat .shaixuanElms li:hover i{
    color:#fff;
}
.funsFloat{
    border: 1px solid #ccc;
    width: 200px;
    background-color: #fff;
    z-index: 999;
    position: absolute;
    top: 27px;
    left: 60px;
    display:none;
}
.funsFloat .funsElms{
    list-style: none;
    margin:5px 8px 5px 8px;
    padding-left:0px;
}
.funsFloat .funsElms li{
    text-indent: 5px;
    padding: 3px;
}
.funsFloat .funsElms li i{
    margin-top: 4px;
}
.funsFloat .funsElms li:hover{
    background-color:green;
    color:#fff;
}
.coloumsContent{
    width: 200px;
    position: fixed;
    z-index: 999;
    left: 50px;
    top: 50px;
    display:none;
}
.coloumsOperate{
    list-style: none;
    margin: 5px 8px 5px 8px;
    padding-left: 0px;
    background: #fff;
    z-index: 99;
    width: 90%;
    border: 1px solid #ccc;
}

.coloumsOperate li{
    text-indent: 5px;
    padding: 6px;
    border-bottom:1px solid #ccc;
    cursor: pointer;
}
.coloumsOperate li span{
    margin-left: 12px;
}
.coloumsOperate li.active{
    background-color:green;
    color:#fff;
}
.coloumsOperate li:hover{
    background-color:green;
}
.coloumsOperate li:hover >span{
    color:#fff;
}
.coloumsOperate li i{
    margin-top: 4px;
}
.juheType{
    position: absolute;
    left: 179px;
    top: 0px;
    display: none;
}
.arrowUp {
    width: 10px;
    height: 10px;
    border-top: 1px solid #ccc;
    display: block;
    border-left: 1px solid #ccc;
    transform: rotate(45deg);
    background-color: #fff;
    position: absolute;
    top: -6px;
    left: 3px;
}
.autoOpen{
    color: firebrick;
}
.meterTit{
    width: 100%;
    display: block;
    margin-bottom: 8px;
    border-bottom: 1px solid #ccc;
    height: 30px;
    line-height: 30px;
    text-indent: 16px;
}
.typetit{
    text-indent: 12px;
    margin-top: 10px;
}
.configElm{
    border: 1px solid #ccc;
    width: 300px;
    height: 100px;
    position: absolute;
    top: 10px;
    left: 10px;
    background:#fff;
    overflow: hidden;
}
.configElm.text{

}
.configElm .top{
    height:20px;
    position:absolute;
    text-align: right;
    width: 100%;
}
.hoverConent .configElm:hover .top{
    border-bottom:1px solid #ccc;
    background: #42c55c;
    color:#fff;
    cursor: move;
}
.configElm .fa{
    color:#ccc;
}
.configElm .cont{
    height: auto;
    top: 20px;
    bottom: 0px;
    width: 100%;
    position: absolute;
    text-align: center;
}
.configElm .tableCont{
    overflow: scroll;
}
.configElm .cont img{
    width: 85%;
    height: 86%;
    display: inline-block;
    margin-top: 5%;
    cursor: pointer;
}
.configElm .cont .imgInput{
    visibility: hidden;
    width:85%;
}
.configElm .cont textarea{
    width:90%;
    height:100%;
    border:0;

}
.configElm .cont .tit{
    width: 90%;
    display: block;
    text-align: left;
    margin-left: 5%;
}
.configElm .cont .filterInput{
    width:40%;
    margin-top:20px;
}
.configElm .rRightDown,.configElm .rLeftDown,.configElm .rLeftUp,.configElm .rRightUp,.configElm .rRight,.configElm .rLeft,.configElm .rUp,.configElm .rDown{
    position:absolute;
    background:#ccc;
    width:6px;
    height:6px;
    z-index:5;
    font-size:0;
}
.configElm .rLeftDown,.configElm .rRightUp{cursor:ne-resize;}
.configElm .rRightDown,.configElm .rLeftUp{cursor:nw-resize;}
.configElm .rRight,.configElm .rLeft{cursor:e-resize;}
.configElm .rUp,.configElm .rDown{cursor:n-resize;}
.configElm .rRightDown{ bottom:-3px; right:-3px;}
.configElm .rLeftDown{ bottom:-3px; left:-3px;}
.configElm .rRightUp{ top:-3px; right:-3px;}
.configElm .rLeftUp{ top:-3px; left:-3px;}
.configElm .rRight{ right:-3px; top:50%}
.configElm .rLeft{ left:-3px; top:50%}
.configElm .rUp{ top:-3px; left:50%}
.configElm .rDown{ bottom:-3px; left:50%}
.unitShaixuan{
    right: 18px;
    z-index: 9999;
    cursor:pointer;
    top:20px;
}
.shaixuanFloat .shaixuanElms li:hover{
    background-color: green;
    color: #fff;
}
.configContent{
    width:1400px;
    min-height:1400px;
    margin:auto;
    position: relative;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    overflow: hidden;
}
.chinese{
    display: none;
}
.cont .table .english th,.cont .table .chinese th{
    text-align: center;
}
.logContent{
    position: fixed;
    width: 100%;
    height: 400px;
    bottom: 0;
    background: #fff;
    z-index: 999;
    opacity: 0.9;
    display: none;
    border-top: 10px solid rgb(224, 221, 221);
}
.logContent textarea{
    width: 98%;
    height: 100%;
    border: none;
    margin-left:2%;
}
.logContent i{
    position: absolute;
    right: 10px;
    top: 10px;
    width: 116px;
}
.review{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    background: #fff;
    z-index: 9999;
    overflow: scroll;
    display: none;
}
.review i{
    position: absolute;
    right: 10px;
    top: 10px;
    width: 116px;
}
.downallbut{
    position: fixed;
    top: 119px;
    right: 40px;
    z-index: 999;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 4px;
    padding: 3px 10px;
    color: #444;
    cursor: pointer;
}
.downallbut:hover{
    background: green;
    color:#fff;
}

#reportTab > li.active > a, #reportTab > li.active > a:focus, #reportTab > li.active > a:hover {
    border: none;
    background: none;
}
#reportTab > li > a, #reportTab > li > a:focus, #reportTab > li > a:hover {
    border: none;
    background: none;
}
#reportTab > li.active > a > button{
    background-color: #605ca8;
    color:#fff;
}
#reportTab > li > a > button{
    background-color: #fff;
    color:#605ca8;
    border:1px solid #605ca8;
}
#dragTable .customNameInput{
    height: 35px;
    display: block;
    border: 1px solid #a726af;
    line-height: 35px;
    text-align: center;
    width: 100%;
}
#dragTable td{
    position: relative;
}
#dragTable td > span{
    height:37px;
    display: block;
    border:1px solid #ccc;
    line-height: 36px;
    text-align: center;
    width:100%;
    min-width:100px;
    overflow:hidden;
    text-overflow:ellipsis;
    color: #666666;
}
#dragTable td .glyphicon-triangle-bottom{
    position:absolute;
    position: absolute;
    right: 10px;
    top: 9px;
    cursor: pointer;
}
#dragTable span.col2{
    cursor: pointer;
}
#dragTable span.col0{
    background-color: #c8f3df;
}
#dragTable span.col0 input{
    background-color: #c8f3df;
}
#dragTable span.active{
    border: 1px solid #d01d67;
}
#dragTable  > tbody > tr > td{
    padding:0;
}
.juhes{
    margin:0;
    width:100%;
    position: absolute;
    display: none;
}
.nojuhe{
    background-color: #ef6f6f;
}
.searchTable .tableInfo{
    width: 100%;
    display: inline-block;
    /* margin-top: 4px; */
    color: #605ca8;
    height: 100%;
    line-height: 30px;
    border:1px solid #fff;
    text-indent: 5px;
}
.searchTable .values{
    width: 100%;
    border-radius: 4px;
    border:1px solid #ccc;
    height:28px;
}
.groupDiv{
    overflow: hidden;
    border: 1px solid #ccc;
    padding-left: 10px;
}
.groupDiv .tagValues li.active a{
    border: 1px solid #605ca8;
    color: #605ca8;
}
.groupContent{
    display: none;
}
.updatePinciDiv .input-group-sm{
    padding-left:3px;
    padding-right:3px;
}
.pincis{
    display: none;
    margin:0px 3px;
}
.pinciDivs>div{
    display: block;
    float:left;
}
.pincis span{
    margin-top: 4px;
    display: block;
}
.draging{
    border: 1px solid #ce0a25 !important;
}
.sxDiv{
    margin:5px 0;
}

#reportDragTable td,#reportDragTableCopy td{
    position: relative;
}
#reportDragTable td .guding > span,#reportDragTableCopy td  .guding > span{
    height:30px;
    font-size:24px;
    display: block;
    line-height: 30px;
    position:absolute;
    width:100%;
    color: #aaa;
    top: 50%;
    margin-top:-15px;
    text-align: center;
}
.table-bordered>tbody>tr>td{
    border-color:#dcdcdc;
}
#reportDragTable>tbody>tr>td{
    border-color:#888888;
}
.col3{
    text-indent: 15%;
}
.structure{
    width: 17px;
    height: 17px;
    display: inline-block;
    position:absolute;
    top: 4px;
    cursor: pointer;
}
.structure.active{
    border: 1px solid #2DCA93;
}
.structure:hover{
    border: 1px solid #2DCA93;
}
.structure1{
    background:url('/img/structure1.png')  no-repeat ;
    background-size: 100%;
    left: 82px;
}
.structure2{
    background:url('/img/structure2.png') no-repeat ;
    background-size: 100%;
    left: 112px;
}
.structure3{
    background:url('/img/structure3.png') no-repeat ;
    background-size: 100%;
    left: 142px;
}
.structure4{
    background:url('/img/structure4.png') no-repeat ;
    background-size: 100%;
    left: 172px;
}
.structure5{
    background:url('/img/structure5.png') no-repeat ;
    background-size: 100%;
    left: 202px;
}
.structure6{
    background:url('/img/structure6.png') no-repeat ;
    background-size: 100%;
    left: 232px;
}
.structure7{
    background:url('/img/structure7.png') no-repeat ;
    background-size: 100%;
    left: 262px;
}
.structure8{
    background:url('/img/structure8.png') no-repeat ;
    background-size: 100%;
    left: 292px;
}
.structure9{
    background:url('/img/structure9.png') no-repeat ;
    background-size: 100%;
    left: 322px;
}
.overflowHidden{
    overflow: hidden;
    margin:5px 0px;
}


.chartDuliang{
    overflow: hidden;
    border: 1px solid #ccc;
    padding-left: 10px;
    height: 38px;
}
.chartDuliang .dragOne{
    padding-left: 15px;
    display: inline-block;
}
.chartDuliang .dragOne span{
    border: 1px solid #605ca8;
    padding: 2px 10px;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    margin: 5px 0px;
}
.chartDuliang .dragOne .fa{
    color: #605ca8;
}
.chartDuliang span:hover{
    border-color:burlywood;
    color:#888888;
}
.chartsTypeIcon{
    display: inline-block;
    width: 75px;
    height: 25px;
    line-height: 25px;
    vertical-align: middle;
    margin-left:20px;
    background: url("/img/icon-bar.png") no-repeat;
    cursor: pointer;
    text-align: right;
    padding-right:8px;
}
.chartsTypeIcon:hover{
    color: #fff;
    background-color: #0397c8;
    border-radius: 4px;
}
.chartsTypeIcon.active{
    color: #fff;
    background-color: #0397c8;
    border-radius: 4px;
}
.chartsTypeIcon.line{
    background-position: 0 -1px;
}
.chartsTypeIcon.bar{
    background-position: 0 -26px;
}
.chartsTypeIcon.pie{
    background-position: 0 -101px;
}
#shaixuanLabel .control-label{
    text-overflow: ellipsis;
    overflow: hidden;
    height: 38px;
}
#shaixuanLabel .sxDiv{
    height: 38px;
}
.guding300{
    width:100%;
    height:300px;
    overflow: hidden;
}
.guding600{
    width:100%;
    height:600px;
    overflow: hidden;
}
.guding900{
    width:100%;
    height:900px;
    overflow: hidden;
}
.guding .fa-ellipsis-v{
    position: absolute;
    right: 0px;
    top: 12px;
}